nextflow.enable.dsl=2

includeConfig 'conf/params.config'
includeConfig 'conf/docker.config'

process.scratch = true

report {
    enabled = true
    overwrite = true
    file = "results/pipeline_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "results/pipeline_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "results/pipeline_trace.txt"
}