params {
    // required for all methods
    email = '' // user's ncbi email address
    cpus = '' // number of cpus to use, note that this is bounded by the number of cpus docker is allowed to use
    architecture = '' // specify whether to use <arm64 or x86_64>, this is required to pull the correct docker image

    // required for input_file method
    input_file = '' // path to input file, takes a csv file with two columns: column 1: sra_accession, column 2: identifier

    // required for cli sra method
    sra_accession = '' // SRA accession number, e.g. SRR18506022, DRP009995, etc. Note: this script will only download fastq files associated with up to 20 SRR/ERR/DRRs associated with a given sra accession
    identifier = '' // Entrez nucleotide identifier for reference genome fasta file, e.g. NC_000866.4, CP014314.1, etc. Note: only one identifier can be provided, so it is expected that it is the correct reference for the sra accession provided.

    // bowtie2 default params
    L = 22 // Length of seed substrings to use in alignment. Must be an integer.
    X = 600 // Maximum insert size for valid paired-end alignments. Must be an integer.
    ploidy = 1 // Ploidy for alignment. Must be an integer.

    // at least one required to use run_bcftools_filter process
    include = '' // Include filter for bcftools
    exclude = '' // Exclude filter for bcftools 
}